html {
  margin: 0;
  padding: 0;
}

body {
display: flex;
}
header{
display: flex;
  justify-content: space between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 10vh;
}
#logo {
  height: 80px;
  width: 80px;
}
nav {
  list-decoration: none;
}
aside {
  width: 20%;
  height:100vh;
}
main {
flex-grow:1;
  height: 100vh;
}
footer {
height: 80px;
  width: 100vw;
}
